.maze-wrapper {
  background-color: black;

  /* grid-template-columns: repeat(7, 1fr); */
  width: 80vh;
  height: 80vh;
}
.maze-cell {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missingTop {
  border-top: 1px solid black;
}
.missingRight {
  border-right: 1px solid black;
}
.missingBottom {
  border-bottom: 1px solid black;
}
.missingLeft {
  border-left: 1px solid black;
}
.heighlight,
.first,
.last {
  background-color: brown;
  width: 50%;
  height: 50%;
  border: 1px solid white;
}
